<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RetrySuite">
    <listeners>
        <listener class-name="utils.RetryListener"/>
    </listeners>

    <test name="Chrome">
        <classes>
            <class name="tests.LoginTest"/>
            <parameter name="browser" value="chrome"/>
        </classes>
    </test>
</suite>